<!-- start -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="stockCode"> Stock Code: </label>
              <input #code id="stockCode" class="form-control" required />
            <label for="stockName"> Stock Name: </label>
              <input #name id="stockName" class="form-control" required />

              <button type="submit" class="btn btn-warning">Validate</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" 
          (click)="createStock(code.value, name.value);code.value=''; name.value='';" data-dismiss="modal">Add Stock</button>
      </div>
    </div>
  </div>
</div>
<!-- end -->

<div class="jumbotron">
  <h1 class="display-4">Some title</h1>
  <p class="lead">Stocks, Bonds, Funds.</p>
  <hr class="my-4">
  <p>Quick Start.</p>
  <div *ngIf="updateEnabled" class="mx-auto p-5">
    Stock Code: <input #updateStockCode [value]="selectedStock.stockCode" />
    Stock Name: <input #updateStockName [value]="selectedStock.name" />
    <button type="button" class="btn btn-warning" (click)="updateStock(updateStockCode.value, updateStockName.value)"> UPDATE </button>
  </div>
  <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#exampleModal">CREATE</button>
  <div class="mx-auto p-5" style="width: 900px">
    <table class="table table-striped table-inverse table-hover table-sm center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Operations</th>
          <th>Name</th>
          <th>Code</th>
        </tr>
      </thead>
      <tr *ngFor="let stock of stocks">
        <td>{{stock.id}}</td>
        <td>
          <button type="button" class="btn btn-warning" (click)="loadDetails(stock)">UPDATE</button>
          <button type="button" class="btn btn-danger" (click)="deleteStock(stock.id)">DELETE</button>
        </td>
        <td>{{stock.name}}</td>
        <td>{{stock.stockCode}}</td>
      </tr>
    </table>
  </div>
</div>