<div class="container" *ngIf="!submited"> 
  <h2> Add New Stock</h2>
  <div class="row">
    <h3>Angular 6 Template-Driven Form Validation</h3>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" >
        <div class="form-group">
            <label for="stockName">Stock Name</label>
            <input type="text" class="form-control" name="stockName" [(ngModel)]="newStock.stockName" #stockName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && stockName.invalid }" required />
            <div *ngIf="f.submitted && stockName.invalid" class="invalid-feedback">
                <div *ngIf="stockName.errors.required">Stock Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Stock Code</label>
            <input type="text" class="form-control" name="stockCode" [(ngModel)]="newStock.stockCode" #stockCode="ngModel" [ngClass]="{ 'is-invalid': f.submitted && stockCode.invalid }" required />
            <div *ngIf="f.submitted && stockCode.invalid" class="invalid-feedback">
                <div *ngIf="stockCode.errors.required">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
  </div>
</div>

<div *ngIf="submited" class="container"> 
  <h2>Submited!</h2>

  <div class="form-group row">
    <label class="col-md-2">Stock name</label>
    <div class="col-md-10">
      <input type="text" placeholder="{{newStock.stockName}}" readonly/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2">Stock code</label>
    <div class="col-md-10">
      <input type="text" placeholder="{{newStock.stockCode}}" readonly/>
    </div>
  </div>

  <div class="form-group row">
    <button class="btn btn-primary mt-2" (click)="cancel()">Cancel</button>
  </div> 
</div>