<div class="jumbotron">
  <h1 class="display-4">Some title</h1>
  <p class="lead">Stocks, Bonds, Funds.</p>
  <hr class="my-4">
  <p>Quick Start.</p>
  <div *ngIf="updateEnabled" class="mx-auto p-5">
    Stock Code: <input #updateStockCode [value]="selectedStock.stockCode" />
    Stock Name: <input #updateStockName [value]="selectedStock.name" />
    <button type="button" class="btn btn-warning" (click)="updateStock(updateStockCode.value, updateStockName.value)"> UPDATE </button>
  </div>
  <div class="mx-auto p-5" style="width: 900px">
    <table class="table table-striped table-inverse table-hover table-sm center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Operations</th>
          <th>Name</th>
          <th>Code</th>
        </tr>
      </thead>
      <tr *ngFor="let stock of stocks">
        <td>{{stock.id}}</td>
        <td>
          <button type="button" class="btn btn-warning" (click)="loadDetails(stock)">UPDATE</button>
          <button type="button" class="btn btn-danger" (click)="deleteStock(stock.id)">DELETE</button>
        </td>
        <td>{{stock.name}}</td>
        <td>{{stock.stockCode}}</td>
      </tr>
    </table>
  </div>
  <hr>
  <div>
    <h2>Add Stock</h2>
    Stock Code: <input #code />
    Stock Name: <input #name />
    <button type="button" class="btn btn-primary mx-2" (click)="createStock(code.value, name.value)">CREATE</button>
  </div>
  <a class="btn btn-primary btn-lg" href="#" role="button">Start</a>
</div>