<p>
  stocks works!
</p>
<h1>{{title}}</h1>
<ul [ngStyle]="{'color': testColor }">
  <li *ngFor="let stock of stocks">
    {{stock}}
  </li>
</ul>

<hr>
<ul *ngIf="showSM" [ngClass]="'pink centered'">
  <li *ngFor="let market of stockMarkets">
    <div [ngSwitch]="market">
      <div *ngSwitchCase="'NYSE'">New York Stock Exchange</div>
      <div *ngSwitchCase="'LSE'">London Stock Exchange</div>
      <div *ngSwitchDefault>{{market}}</div>
    </div>
  </li>
</ul>
<hr>
<ul *ngIf="showSM" [ngClass]="['pink', 'centered']">
  <li *ngFor="let market of stockMarkets">
    <div [ngSwitch]="market">
      <div *ngSwitchCase="'NYSE'">New York Stock Exchange</div>
      <div *ngSwitchCase="'LSE'">London Stock Exchange</div>
      <div *ngSwitchDefault>{{market}}</div>
    </div>
  </li>
</ul>
<hr>
<ul *ngIf="showSM" [ngClass]="{pink:isViolet, centered:isCentered}">
  <li *ngFor="let market of stockMarkets">
    <div [ngSwitch]="market">
      <div *ngSwitchCase="'NYSE'">New York Stock Exchange</div>
      <div *ngSwitchCase="'LSE'">London Stock Exchange</div>
      <div *ngSwitchDefault>{{market}}</div>
    </div>
  </li>
</ul>

